.custom-navbar {
    background-color: rgb(75, 20, 134);
  }
  
  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    color: white !important;
  }
  
  .custom-navbar .nav-link:hover {
    color: #d9b3ff !important;
  }

  
   img{
    height: auto;
    width: 100%;
    display: block;
  }


  